@model PTSL.DgFood.Web.Model.TrainingPlanVM
@{
    ViewBag.Title = "Details";
}


<div class="card">
    <div class="card-header">
        <h4>Training Plan Details</h4>
    </div>

    <div class="card-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="inputPossibleTrainingWorkshopTopics" style="font-size:15px;">Possible Training/Workshop Topics : <b>@Model.PossibleTrainingWorkshopTopics</b></label><br />
                <label for="inputTrainingHours" style="font-size:15px;">Training Hours: <b>@Model.TrainingHours</b></label> <br />
                <label for="inputGradeId" style="font-size:15px;">Grade: <b>@Model.GradeName</b></label> <br />
                <label for="inputNumberOfParticipants" style="font-size:15px;">Number Of Participants: <b>@Model.NumberOfParticipants</b></label> <br />
                <label for="inputTotalTrainingHours" style="font-size:15px;">Total Training Hours: <b>@Model.TotalTrainingHours</b></label> <br />
                <label for="inputInstructorOrConsultant" style="font-size:15px;">Instructor/Consultant: <b>@Model.InstructorOrConsultant</b></label> <br />
                <label for="inputProbableStartDate" style="font-size:15px;">Probable Start Date: <b>@Model.ProbableStartDate.Value.ToShortDateString()</b></label> <br />
                <label for="inputProbableEndDate" style="font-size:15px;">Probable End Date: <b>@Model.ProbableEndDate.Value.ToShortDateString()</b></label> <br />

                @*<label for="inputEstablishedYear" style="font-size:15px;">Established Year: <b>@Model.EstablishedYear</b></label> <br />
        <label for="inputLocation" style="font-size:15px;">Location: <b>@Model.Location</b></label>*@
            </div>
        </div>
    </div>
    <hr />
    <div class="card-header pull-left">
        <a href="/TrainingPlan/Index" class="btn btn-warning">Return to Index</a>
    </div>
</div>

