@model PTSL.DgFood.Web.Model.EmployeeInformationListVM
<div class="form-horizontal">
    <div class="form-row">
        <div class="form-group col-md-12" style="border:1px solid;border-radius:5px">
            <p><strong>Epmloyee Information</strong></p>
            <div class="form-row" style="margin-left:1%">
                <div class="col-md-4">
                    <div class="form-row">
                        <label class="form-group col-md-5">Employee ID : </label>
                        <label class="form-group col-md-7" id="Emp_ID">@Model.Id</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-row">
                        <label class="form-group col-md-5">Employee Name : </label>
                        <label class="form-group col-md-7">@Model.NameEnglish</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-row">
                        <label class="form-group col-md-5">Rank : </label>
                        <label class="form-group col-md-7">@Model.RankName</label>
                    </div>
                </div>
            </div>
            <div class="form-row" style="margin-left:1%">
                <div class="col-md-4">
                    <div class="form-row">
                        <label class="form-group col-md-5">Govt ID : </label>
                        <label class="form-group col-md-7">@Model.GovtID</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-row">
                        <label class="form-group col-md-5">Designation : </label>
                        <label class="form-group col-md-7">@Model.DesignationName</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-row">
                        <label class="form-group col-md-5">Mobile : </label>
                        <label class="form-group col-md-7">@Model.MobileNumber</label>
                    </div>
                </div>
            </div>
        </div>
    </div><br />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputRank">Rank <span style="color:red;">*</span></label>
            @Html.DropDownList("PromotionManagementVM.RankId", (SelectList)ViewBag.PromotionManagementRankId, "Choose..", new { @class = "form-control", @required = "required" })
        </div>
        <div class="form-group col-md-6">
            <label for="inputRank">Designation  <span style="color:red;">*</span></label>
            @Html.DropDownList("PromotionManagementVM.DesignationId", (SelectList)ViewBag.PromotionManagementDesignationId, "Choose..", new { @class = "form-control", @required = "required" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputDistrictName">Promotion Date  <span style="color:red;">*</span></label>
            <input type="date" class="form-control datepicker" id="PromotionManagementVM_PromotionDate" name="PromotionManagementVM.PromotionDate" value="" placeholder="Enter Promotion Date" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputDistrictName">Nature of Promotion  <span style="color:red;">*</span></label>
            @Html.DropDownList("PromotionManagementVM.PromtionNatureId", (SelectList)ViewBag.PromotionManagementNatureOfPromotionId, "Choose..", new { @class = "form-control", @required = "required" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputDistrictName">G.O. Number  <span style="color:red;">*</span></label>
            <input type="text" class="form-control" id="PromotionManagementVM_GONumber" name="PromotionManagementVM.GONumber" value="" placeholder="Enter GO Number" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputDistrictName">G.O. Date  <span style="color:red;">*</span></label>
            <input type="date" class="form-control datepicker" id="PromotionManagementVM_GODate" name="PromotionManagementVM.GODate" value="" placeholder="Enter GO Date" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputDistrictName">Year of Pay Scale  <span style="color:red;">*</span></label>
            @Html.DropDownList("PromotionManagementVM.PayScaleYearInfoId", (SelectList)ViewBag.PromotionManagementYearOfPayScaleId, "Choose..", new { @class = "form-control", @required = "required" })
        </div>
        <div class="form-group col-md-6">
            <label for="inputDistrictName">Pay Scale  <span style="color:red;">*</span></label>
            <input type="text" class="form-control" id="PromotionManagementVM_PayScale" name="PromotionManagementVM.PayScale" value="" placeholder="Enter Pay Scale" required>

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputDistrictName">Present Posting </label>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="PromotionManagementVM_PresentPosting" name="PromotionManagementVM.PresentPosting" value="true">
                <label class="custom-control-label" for="PromotionManagementVM_PresentPosting">Check if this posting is current posting</label>
            </div>
        </div>

    </div>
</div>
<script>
    $("#PromotionManagementVM_RankId").change(function () {
        var selectedItem = $(this).val();
        var ddlDesignation = $("#PromotionManagementVM_DesignationId");
        if (selectedItem == "" || selectedItem == null) {
            return true;
        }
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Dropdown/GetDesignationDropdownByRankId",
            data: { "id": selectedItem },
            success: function (data) {
                console.log(data);
                ddlDesignation.html('<option value="">Choose..</option>');
                $.each(data, function (id, option) {
                    ddlDesignation.append($('<option></option>').val(option.Id).html(option.DesignationName));
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve states.');
            }
        });
    });
</script>