@model PTSL.DgFood.Web.Model.SpecialHolydaySetupVM
@{
    ViewBag.Title = "Details";
}


<div class="card">
    <div class="card-header">
        <h4>Special Holiday Setup Details</h4>
    </div>

    <div class="card-body">
        <div class="form-horizontal">
            <table style="width:100%">
                <tr>
                    <td style="width:33px;">Name: <b>@Model.SpecialHolydaySetupName</b></td>
                    <td style="width:33px;">Name Bangla: <b>@Model.SpecialHolydaySetupNameBn</b></td>
                    <td style="width:33px;">Start Date: <b>@Model.StartDate.ToString("dd-MM-yyyy")</b></td>
                    <td style="width:34px;">Date: <b>@Model.EndDate.ToString("dd-MM-yyyy")</b></td>
                </tr>
                <tr>
                    <td colspan="3">Description: <b>@Model.Description</b></td>
                </tr>
            </table>

        </div>
    </div>
    <hr />
    <div class="card-header pull-left">
        <a href="/SpecialHolydaySetup/Index" class="btn btn-warning">Return to Index</a>
    </div>
</div>