@model ICollection<PTSL.DgFood.Web.Model.ServiceHistoryListVM>
@{
    Layout = null;
}

<tbody id="ServiceHistoryList">
    @if (Model != null)
    {
        int i=1;
        foreach (var data in Model)
        {
            <tr>
                <td>@i</td>
                <td>@(data.DateOfGovtService != null ? Convert.ToDateTime(data.DateOfGovtService).ToString("dd-MM-yyyy") : "")</td>
                <td>@(data.DateOfGazatted != null ? Convert.ToDateTime(data.DateOfGazatted).ToString("dd-MM-yyyy") : "")</td>
                <td>@data.EncadrementNumber</td>
                <td>@(data.EncadrementDate != null ? Convert.ToDateTime(data.EncadrementDate).ToString("dd-MM-yyyy") : "")</td>
                <td style="width:220px;float:left;">
                    <a href="/EmployeeInformation/EditServiceHistory?sid=@data.Id&empid=@data.EmpoloyeeInformationId" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
                    <a href="#" class="btn btn-info icon-left btn-sm" data-toggle="modal" data-target=".ServiceHistory-details-modal" onclick="javascript: setServiceHistoryModalData(@data.Id)"><i class="fa fa-eye"></i></a>

                    @*<a href="/SpouseInformation/Details?id=@data.Id" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>*@
                    <button onclick="showDeleteConfirmServiceHistoryMessage(@data.Id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            i++;
        }
    }
</tbody>