@model PTSL.DgFood.Web.Model.LeaveApplicationVM
@{
    ViewBag.Title = "Details";
    var employeeIdString = Session["EmployeeInformationId"].ToString();
    long.TryParse(employeeIdString, out var employeeId);
    var hasEmployee = employeeId != 0;
}

<div class="card">
    <div class="card-header">
        <h4>Leave Application Details</h4>
    </div>
    <div class="card-body">
        <div class="form-horizontal">
            <table style="width:100%">
                <tr>
                    <td style="width:33px;">Employee Name: <b>@Model.EmployeeInformationDTO.NameEnglish</b></td>
                    <td style="width:33px;">Leave Type: <b>@Model.LeaveTypeInformationDTO.NameInEnglish</b></td>
                    <td style="width:34px;">Application Date: <b>@Model.ApplicationDate.ToString("dd-MM-yyyy")</b></td>
                </tr>
                <tr>
                    <td style="width:33px;">From Date: <b>@Model.FromDate.ToString("dd-MM-yyyy")</b></td>
                    <td style="width:33px;">To Date: <b>@Model.ToDate.ToString("dd-MM-yyyy")</b></td>
                    <td style="width:34px;">Leave Authority: <b>@Model.LeaveAuthority</b></td>
                </tr>
                <tr>
                    <td style="width:33px;">Leave Subject: <b>@Model.LeaveSubject</b></td>
                    <td style="width:33px;">Memo NO: <b>@Model.MemoNO</b></td>
                    <td style="width:34px;">Leave Reason: <b>@Model.LeaveReason</b></td>
                </tr>
                <tr>
                    <td style="width:33px;">Emergency Contact: <b>@Model.EmergencyContact</b></td>
                    <td style="width:33px;">Emergency Address: <b>@Model.EmergencyAddress</b></td>
                    <td style="width:34px;">Comments: <b>@Model.Comments</b></td>
                </tr>
                <tr>
                    <td style="width:33px;">Leave Days: <b>@Model.LeaveDays</b></td>
                    <td style="width:33px;">Leave Status: <b>@Model.LeaveStatus</b></td>
                    <td style="width:34px;">Approved Date: <b>@(Convert.ToDateTime(Model.ApprovedDate).ToString("dd-MM-yyyy") != "01-01-0001" ? Convert.ToDateTime(Model.ApprovedDate).ToString("dd-MM-yyyy") :"")</b></td>
                </tr>
                <tr>
                    <td style="width:33px;">Cancelled Date: <b>@(Convert.ToDateTime(Model.CancelledDate).ToString("dd-MM-yyyy") != "01-01-0001" ? Convert.ToDateTime(Model.CancelledDate).ToString("dd-MM-yyyy") :"")</b></td>
                    <td style="width:33px;"></td>
                    <td style="width:34px;"></td>
                </tr>
            </table>
        </div>
    </div>
    <hr />
    <div class="card-header pull-left">
        <a href="@(hasEmployee ? "/LeaveApplication/EmployeeIndex" : "/LeaveApplication/Index")" class="btn btn-warning">Return to Index</a>
    </div>
</div>
