@model PTSL.DgFood.Web.Model.ChildrenInformationVM
@{
    ViewBag.Title = "Create";
    var Message = ViewBag.Message;
}


    <div class="card">
        <div class="card-header">
            <h4>Edit Children Information</h4>
        </div>

        <div class="card-body">
            @using (Html.BeginForm("Edit", "ChildrenInformation", FormMethod.Post, new { id = "ChildrenInformation" }))
            {
                <input type="hidden" id="EmployeeInformationId" name="EmployeeInformationId" value="@ViewBag.EmployeeInformationId" />
                <div class="form-horizontal">

                    <div class="form-group">
                        <label for="inputRank">Children Sl No<span style="color:red;">*</span></label>
                        <input type="text" class="form-control col-md-6" id="SlNo" name="SlNo" value="@Model.SlNo" placeholder="Enter Children Serial No" required>

                    </div>
                    <div class="form-group">
                        <label for="inputDistrictName">Name In Bangla <span style="color:red;">*</span></label>
                        <input type="text" class="form-control col-md-6" id="NameInBangla" name="NameInBangla" value="@Model.NameInBangla" placeholder="Enter Name In Bangla" required>

                    </div>
                    <div class="form-group">
                        <label for="inputDistrictName">Name In English <span style="color:red;">*</span></label>
                        <input type="text" class="form-control col-md-6" id="NameInEnglish" name="NameInEnglish" value="@Model.NameInEnglish" placeholder="Enter Name In English" required>

                    </div>
                    <div class="form-group">
                        <label for="inputSex">Gender <span style="color:red;">*</span></label>
                        @Html.DropDownList("GenderId", null, "Choose..", htmlAttributes: new { @class = "form-control col-md-6", @required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="inputDateOfBirth">Birth Date <span style="color:red;">*</span></label>
                        <input type="date" class="form-control col-md-6" id="DateOfBirth" name="DateOfBirth" value="@Model.DateOfBirth" required>

                    </div>
                     
                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-primary submit-btn pull-right">Submit</button>
                    </div>
                </div>
            }
        </div> 
        <hr />
        <div class="card-header pull-left">
            <a href="/ChildrenInformation/Index" class="btn btn-warning">Return to Index</a>
        </div>
    </div>

<script>
    $("#DivisionId").change(function () {
        var selectedItem = $(this).val();
        var ddlDistrict = $("#DistrictId");
        $.ajax({
            cache: false,
            type: "GET",
            url: "/EmployeeInformation/GetDistrictByDivisionId",
            data: { "divisionId": selectedItem },
            success: function (data) {
                ddlDistrict.html('');
                $.each(data, function (id, option) {
                    ddlDistrict.append($('<option></option>').val(option.Id).html(option.DistrictName));
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve states.');
            }
        });
    });

    //$("#submitBtn").click(function () {
    //    var selectedItem = $(this).val();
    //    var ddlDistrict = $("#DistrictId");
    //    var data = $("#ChildrenInformation").serialize();
    //    $.ajax({
    //        cache: false,
    //        type: "Post",
    //        url: "/ChildrenInformation/Create",
    //        data: data,
    //        success: function (data) {
    //            alert(data.message);
    //        },
    //        error: function (xhr, ajaxOptions, thrownError) {
    //            alert('Failed to retrieve states.');
    //        }
    //    });
    //});

    $(".submit-btn").on("click", function () {
        if ($("#ChildrenInformationForm").valid()) {
            //Do something here
            $(".loader").fadeIn("slow");
        }
    });

    $("#ChildrenInformationForm").validate({
        // Specify validation rules
        rules: {
            NameInBangla: "required",
            NameInEnglish: "required",
            SlNo: "required",
            GenderId: "required",
            DateOfBirth: "required"
        },

    });


</script>