@model ICollection<PTSL.DgFood.Web.Model.PromotionParticularsListVM>
@{
    Layout = null;
}

<tbody id="PromotionParticularsList">
    @if (Model != null)
    {
        int i = 1;
        foreach (var data in Model)
        {
            <tr>
                <td>@i</td>
                <td>@data.Rank</td>
                <td>@data.Designation</td>
                <td>@data.PromotionDate</td>
                <td>@data.NatureOfPromotion</td>
                <td style="width:220px;float:left;">
                    <a href="/EmployeeInformation/EditPromotionPartculars?pid=@data.Id&empid=@data.EmpoloyeeInformationId" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
                    <a href="#" class="btn btn-info icon-left btn-sm" data-toggle="modal" data-target=".PromotionPartculars-details-modal" onclick="javascript: setPromotionPartcularsModalData(@data.Id)"><i class="fa fa-eye"></i></a>

                    @*<a href="/SpouseInformation/Details?id=@data.Id" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></a>*@
                    <button onclick="showDeleteConfirmPromotionPartcularsMessage(@data.Id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            i++;
        }
    }
</tbody>